<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <img src="/favicon.ico" style="width:40px;" />
    <div class="float-right"><a href="javascript:window.scrollTo(0,0)">TOP</a></div>
    <div class="text-muted">版权所有 2019 余灿琳 保留所有权利</div>
  </div>
</footer>

<script>
  $(document).ready(function () {
    $("p img").each(function () {
      var strA = "<a id='yourid' href='" + this.src + "'></a>";
      $(this).wrapAll(strA);
    });
  })

  $("#yourid").fancybox({
    openEffect: 'elastic',
    closeEffect: 'elastic',
    toolbar: "true",
    smallBtn: "true",
  });
</script>